<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Map2PDF</display-name>
	<servlet>
		<description>Creates a PDF</description>
		<display-name>PDFServlet</display-name>
		<servlet-name>PDFServlet</servlet-name>
		<servlet-class>org.gis.pdf.servlets.PDFServlet</servlet-class>
    <init-param>
      <param-name>report-config</param-name>
      <param-value>/WEB-INF/map2pdf-reports.properties</param-value>
    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PDFServlet</servlet-name>
		<url-pattern>/pdf</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errors.jsp</location>
	</error-page>	
</web-app>
